{% extends 'base.html'%}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="dispaly-1 text-center">Bienvendios al home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quas nemo, nam quod repudiandae inventore
            corporis
            at, nesciunt incidunt tempora voluptatibus consequuntur sunt iure soluta voluptatum a ut debitis aliquid.
        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/login/">
                signin
            </a>
            <a class="btn btn-dark" href="/signin/">
                signup
            </a>

        </div>
    </section>
</main>
{% endblock %}