{% extends 'base.html'%}

{% block content %}

<main class="container">
    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1>tareas Pendientes</h1>
            <ul class="list-group">
                {% for tareas in tareas %}
                <a class="list-group-item" href="{% url 'tareas_detail' tareas.id %}">
                    <header class="d-flex justify-content-between">
                        {% if tareas.important %}
                        <h1 class="fw-bold text-success">{{tareas.title}}</h1>
                        {% else %}
                        <h1 class="fw-bold text-warning ">{{tareas.title}}</h1>
                        {% endif %}
                        <p> {{tareas.user.username}}</p>
                        <p>{{tareas.datecompleted|date:'M j y:i'}}</p>
                    </header>
                    <h2>                    {{tareas.description}}
                    </h2>
                </a>
                {% endfor %}
            </ul>

        </div>
    </div>
</main>


{% endblock %}